.thumbnail{
    width : 100%;
    height: 44%;
    overflow: auto;
}


.thumbnail  img {
  height: 120px;
  width: 190px;
  border: solid 1px #cccccc;
}

#createListng FormControl{
	padding: 4px;
	border: 2px black solid;

}